---
name: Post-Layout PEX Simulation Task
about: This template is to request a PEX simulation
title: "[Post-Layout] - [BLOCK] - [PEX verification]"
labels: feature
assignees: ''

---

- **Stage**: Post-Layout

- **Block | subblock**: bandgap

- **Task**: Run PEX simulation
